language: ruby
rvm: 2.3.3
env: RAILS_ENV=test
script:
  - bundle exec rspec
addons:
  postgresql: "9.4"
  code_climate:
    repo_token: 5c92b41b364eb925b2b10a46544366449d2ae05a1d50bd9624f4abc638374541
before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres
  - bundle exec rake db:migrate
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install: bundle install --jobs=3 --retry=3
after_success:
  - bundle exec codeclimate-test-reporter