<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  <%= link_to t(:go_to_website_to_look_at_cards), root_url %>
</p>
</body>
</html>