default: &default
  adapter: postgresql
  host: localhost
  username: postgres
  password: ""
  pool: 5

production:
  <<: *default
  database: flashcards_production

development:
  <<: *default
  database: flashcards_development

test:
  <<: *default
  database: flashcards_test
