<div id="trainer_content">
  <% if @card %>
    <h2><%= t('.heading') %></h2>
    <%= render 'review_form',  card: @card %>
  <% else %>
     <p class="lead"><%= t('.no_cards_to_review') %></p>
  <% end %>
</div>
