<%= simple_form_for user,
                    url: user_sessions_path, method: :post do |f| %>
  <div class="form-group">
    <%= f.input :email, input_html: { class: 'form-control',
                                      required: true,
                                      autofocus: true,
                                      value: nil } %>
  </div>

  <div class="form-group">
    <%= f.input :password, input_html: { class: 'form-control',
                                         required: true,
                                         autofocus: true,
                                         value: nil } %>
  </div>

  <%= f.button :submit, t('global.actions.log_in'), class: 'btn btn-default log_in' %>
<% end %>

